.form{
    background-color: #ffff;
    width: 600px;
    height: 500px;
    padding: 3.5em 2em;
    border-radius: 20px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.322);
    justify-content: center;
    

 
}

.contenido-formulario{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

